<p style="color: green"><%= notice %></p>
<%= link_to "Back to Categories", categories_path %>

<h1>Transactions</h1>

<div id="transactions">
  <% @transactions.each do |transaction| %>
    <%= render transaction %>
    <p>
      <%= link_to "Show this transaction", category_transaction_path(transaction.category_id,transaction) %>
    </p>
  <% end %>
</div>

<%= link_to "New transaction", new_category_transaction_path %>
